
*{
    font-family: 'Montserrat', sans-serif;
}

fieldset{
    height: 400px;
    overflow: hidden;
}
.page{
    padding: 15px;
    background: white;
}

.question{
    position: fixed;
    width: 200px;
    height: 300px;
    float: left;
    display: none;
}

button{
    padding: 5px;
    background: crimson;
    border: none;
    outline: none;
    cursor: pointer;
    color: #fff;
    border-radius: 5px;
}

button:hover{
    background: rgb(175, 11, 44);
}


fieldset{
    border-radius: 5px;
    
}